* {
  margin: 0;
  border: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #700529cb, #d676be94);
}
